.title {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
}
.form__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.form__input {
    width: 80%;
    margin-bottom: 15px;
    padding-left: 5px;
}
.form__btn {
    padding: 0 10px;
    background-color: rgb(28, 166, 201);
    border-radius: 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.form__btn_disable {
    background-color: grey;
    pointer-events: none;
}

@media screen and (max-width: 400px){
    .form {
        width: 90%;
    }
    .form__label {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    .form__input {
        width: 96%;
        margin-top: 5px;
    }
}